:root {
  --blue-france-sun-113-625: #0f6cb4;
  --blue-france-sun-113-625-hover: #0a4d81;
  --blue-france-sun-113-625-active: #083e67;
}
.fr-toggle input[type=checkbox]:checked~.fr-toggle__label:after {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230f6cb4' d='m10 15.17 9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/%3E%3C/svg%3E");
}
.fr-toggle label:before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%230f6cb4' height='24' fill='transparent' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='39' height='23' rx='11.5'/%3E%3C/svg%3E");
}
.fr-toggle input[type=checkbox]:checked~.fr-toggle__label:before {
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' stroke='%230f6cb4' height='24' fill='%230f6cb4' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='39' height='23' rx='11.5'/%3E%3C/svg%3E");
}
:root {
  --blue-france-975-75: #eef1f8;
}
:root {
  --border-plain-grey: var(--border-plain-blue-france);
}